<div class="row">
  <h1 class="page-header text-center">Blog</h1>

  <!-- Blog Entries Column -->
  <div class="col-md-8">

      <!-- First Blog Post -->
      <p>
        {{ blog }}
      </p>

      <div class="articles" ng-repeat="article in blog.articles">
        <h2>
            <a href="#/articles/{{ article._id }}">{{ article.title }}</a>
        </h2>
        <p class="">
            by <a href="index.php">{{ article.author }}</a>
            <span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM
        </p>

        <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>
        <p>{{ article.body }}</p>
        <a class="btn btn-primary" href="#/articles/{{ article._id }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
      </div>


      <!-- Pagination -->
      <ul class="pager">
          <li class="previous">
              <a href="#">← Older</a>
          </li>
          <li class="next">
              <a href="#">Newer →</a>
          </li>
      </ul>
  </div><!-- /col -->
</div><!-- /row -->
